/*
*    .element {
*        @include breakpoint(small, min, $breakpoint-small){
*            background-color: red; 
*        }
*    }
*/
/*
*    .element {
*        @include center-absolute(both);
*    }
*/
/*
*    .element {
*        @include center-flex(both);
*    }
*/
/*
*    .element {
*        @include font-size(16);
*    }
*/
/*
*    @include keyframes(slide-down) {
*        0% { opacity: 1; }
*        90% { opacity: 0; }
*    }
*
*    .element {
*        @include animation('slide-down 5s 3');
*    }
*/
/*
*    .element {
*        @include padding(10px, 20px);
*    }
*
*    of
*
*    .element {
*        @include padding(10px, 20px, 30px);
*    }
*/
/*
*    .element {
*        @include margin(10px, 20px);
*    }
*
*    of
*
*    .element {
*        @include margin(10px, 20px, 30px);
*    }
*/
/*
*    .element {
*        @include push-auto;
*    }
*/
/*
*    .element:before {
*        @include pseudo;
*    }
*/
/*
*    .element {
*        @include transition(width 2s linear 1s, height 1s linear 2s);
*    }
*/
/*
*    .element {
*        @include translate(50px, 10px);
*    }
*/
/*
*    .element {
*        @include skew(30deg, 10deg);
*    }
*/
/*
*    .element {
*        @include boxshadow(2px 2px 2px black, -2px -2px 2px white);
*    }
*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fontlibrary.org/face/cooper-hewitt");
input, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #fafafd;
  font-family: "CooperHewittBook", sans-serif;
  color: #21203a; }

a {
  text-decoration: none;
  color: #21203a; }

.container {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-gap: 10pt;
  height: calc(100vh - 60px);
  background: #fafafd; }
  .container .content-image {
    background: url("https://media.giphy.com/media/X2FDYSjwvJyWA/giphy.gif");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 15; }

.content-rightblock {
  width: 100%;
  grid-column-start: 16;
  grid-column-end: 24;
  padding-top: 175px;
  display: flex;
  flex-direction: column; }
  .content-rightblock span {
    color: #c10c43;
    font-size: 36pt;
    font-family: "CooperHewittBold", sans-serif; }
  .content-rightblock h2 {
    font-size: 144pt;
    font-size: 12rem;
    font-family: "CooperHewittBold", sans-serif;
    margin-bottom: 70px; }
  .content-rightblock a {
    font-size: 32pt;
    margin-bottom: 30px; }

#home {
  background: #21203a; }

header {
  display: flex;
  height: 60px;
  font-size: 16pt;
  font-family: "CooperHewittBold", sans-serif;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0 70px;
  background: #ffffff;
  justify-content: space-between; }
  header a:hover, header a:active {
    color: #c10c43; }
  header #header-left {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header #header-left a:not(:last-child) {
      margin-right: 45px; }
  header #header-right {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header #header-right a:not(:first-child) {
      margin-left: 45px; }

::-webkit-selection {
  background: rgba(33, 32, 58, 0.5);
  color: #ffffff;
  text-shadow: none; }

::-moz-selection {
  background: rgba(33, 32, 58, 0.5);
  color: #ffffff;
  text-shadow: none; }

::-o-selection {
  background: rgba(33, 32, 58, 0.5);
  color: #ffffff;
  text-shadow: none; }

::-ms-selection {
  background: rgba(33, 32, 58, 0.5);
  color: #ffffff;
  text-shadow: none; }

::selection {
  background: rgba(33, 32, 58, 0.5);
  color: #ffffff;
  text-shadow: none; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: rgba(33, 32, 58, 0.5); }

a::selection {
  color: #ffffff; }
