/*
*    .element {
*        @include breakpoint(small, min, $breakpoint-small){
*            background-color: red; 
*        }
*    }
*/
/*
*    .element {
*        @include center-absolute(both);
*    }
*/
/*
*    .element {
*        @include center-flex(both);
*    }
*/
/*
*    .element {
*        @include font-size(16);
*    }
*/
/*
*    @include keyframes(slide-down) {
*        0% { opacity: 1; }
*        90% { opacity: 0; }
*    }
*
*    .element {
*        @include animation('slide-down 5s 3');
*    }
*/
/*
*    .element {
*        @include padding(10px, 20px);
*    }
*
*    of
*
*    .element {
*        @include padding(10px, 20px, 30px);
*    }
*/
/*
*    .element {
*        @include margin(10px, 20px);
*    }
*
*    of
*
*    .element {
*        @include margin(10px, 20px, 30px);
*    }
*/
/*
*    .element {
*        @include push-auto;
*    }
*/
/*
*    .element:before {
*        @include pseudo;
*    }
*/
/*
*    .element {
*        @include transition(width 2s linear 1s, height 1s linear 2s);
*    }
*/
/*
*    .element {
*        @include translate(50px, 10px);
*    }
*/
/*
*    .element {
*        @include skew(30deg, 10deg);
*    }
*/
/*
*    .element {
*        @include skew(30deg, 10deg);
*    }
*/
/*
*    .element {
*        @include boxshadow(2px 2px 2px black, -2px -2px 2px white);
*    }
*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fontlibrary.org/face/cooper-hewitt");
input, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #fafafd;
  font-family: "CooperHewittBook", sans-serif;
  color: #21203a;
  overflow-x: hidden; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  font-size: 16pt;
  font-family: "CooperHewittBold", sans-serif;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0 70px;
  background: #ffffff;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  footer a:hover, footer a:active {
    color: #c10c43; }
  footer #footer-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    footer #footer-left a:not(:last-child) {
      margin-right: 45px; }
  footer #footer-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    footer #footer-right a:not(:first-child) {
      margin-left: 45px; }

header {
  position: fixed;
  top: 50%;
  right: 17.5pt;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 24pt;
  z-index: 2; }
  header span.active-number {
    position: fixed;
    right: 0px;
    top: 50%;
    -webkit-transform: translateY(calc(-50% - 15px));
    transform: translateY(calc(-50% - 15px));
    text-align: right;
    width: 150px;
    height: 150px;
    font-size: 120px;
    color: rgba(16, 16, 28, 0.45);
    font-family: "CooperHewittBold", sans-serif; }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    counter-reset: headernav;
    font-family: "CooperHewittBook", sans-serif; }
    header nav a {
      color: rgba(255, 255, 255, 0);
      text-align: right;
      padding-right: 2em;
      line-height: 29.7pt;
      position: relative;
      -webkit-transition: 0.2s;
      transition: 0.2s;
      counter-increment: headernav; }
      header nav a:hover {
        -webkit-transition: 0.2s;
        transition: 0.2s; }
      header nav a:not(:last-child) {
        margin-bottom: 42px; }
      header nav a:before {
        content: "";
        display: block;
        position: absolute;
        content: "0" counter(headernav) "";
        right: 0;
        top: -1px;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        line-height: 29.7pt;
        color: #ffffff; }
      header nav a:hover {
        color: white; }
    header nav .active {
      color: #c10c43;
      font-family: "CooperHewittBold", sans-serif; }
      header nav .active:before {
        color: #c10c43; }
      header nav .active:after {
        content: "";
        display: block;
        position: absolute;
        width: 3pt;
        height: calc(100% - 2pt);
        right: calc(1em + 1pt);
        top: 0;
        background-color: #c10c43; }
      header nav .active:hover {
        color: #c10c43; }

a {
  text-decoration: none;
  color: #21203a; }

main {
  counter-reset: section; }
  main section.container {
    counter-increment: section; }
    main section.container .active-number:before {
      content: "";
      display: block;
      position: absolute;
      right: -10px;
      content: "0" counter(headernavfixed); }

.container {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-gap: 10pt;
  height: calc(100vh - 60px);
  background: #fafafd;
  position: relative; }
  .container:not(#home) {
    height: calc(100vh - 120px);
    margin-top: 60px; }
  .container .content-image {
    background: url("https://media.giphy.com/media/X2FDYSjwvJyWA/giphy.gif");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 15; }

.content-rightblock {
  width: 100%;
  grid-column-start: 16;
  grid-column-end: 24;
  padding-top: 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .content-rightblock span {
    color: #c10c43;
    font-size: 36pt;
    font-family: "CooperHewittBold", sans-serif;
    position: relative;
    height: 1.5em; }
    .content-rightblock span:before {
      content: "";
      display: block;
      position: absolute;
      content: "0" counter(section) "/"; }
  .content-rightblock h2 {
    font-size: 144pt;
    font-size: 12rem;
    font-family: "CooperHewittBold", sans-serif;
    margin-bottom: 70px; }
  .content-rightblock a {
    font-size: 32pt;
    margin-bottom: 30px; }

#home {
  background: #21203a; }

::-webkit-selection {
  background: rgba(33, 32, 58, 0.5);
  color: #ffffff;
  text-shadow: none; }

::-moz-selection {
  background: rgba(33, 32, 58, 0.5);
  color: #ffffff;
  text-shadow: none; }

::-o-selection {
  background: rgba(33, 32, 58, 0.5);
  color: #ffffff;
  text-shadow: none; }

::-ms-selection {
  background: rgba(33, 32, 58, 0.5);
  color: #ffffff;
  text-shadow: none; }

::selection {
  background: rgba(33, 32, 58, 0.5);
  color: #ffffff;
  text-shadow: none; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: rgba(33, 32, 58, 0.5); }

a::-moz-selection {
  color: #ffffff; }

a::selection {
  color: #ffffff; }
