@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
@import url('https://fontlibrary.org/face/cooper-hewitt');

$font--cooper--book: 'CooperHewittBook', sans-serif;
$font--cooper--bold: 'CooperHewittBold', sans-serif;
$font--cooper--light: 'CooperHewittLight', sans-serif;
$font--sans: 'Source Sans Pro', sans-serif;