@font-face {
  font-family: "CooperHewittBook";
  src:url("../fonts/CooperHewitt-Book.otf");
}

@font-face {
  font-family: "CooperHewittBold";
  src:url("../fonts/CooperHewitt-Bold.otf");
}

@font-face {
  font-family: "CooperHewittLight";
  src:url("../fonts/CooperHewitt-Light.otf");
}

@font-face {
  font-family: "Source Sans Pro Light";
  src:url("../fonts/SourceSansPro-Light.ttf");
}

$font--cooper--book: 'CooperHewittBook', sans-serif;
$font--cooper--bold: 'CooperHewittBold', sans-serif;
$font--cooper--light: 'CooperHewittLight', sans-serif;
$font--sans: 'Source Sans Pro Light', sans-serif;