@font-face {
  font-family: "CooperHewittBook";
  src:url("../fonts/CooperHewitt-Book.otf");
}

@font-face {
  font-family: "CooperHewittBold";
  src:url("../fonts/CooperHewitt-Bold.otf");
}

@font-face {
  font-family: "CooperHewittLight";
  src:url("../fonts/CooperHewitt-Light.otf");
}

@font-face {
  font-family: "CooperHewittSemibold";
  src:url("../fonts/CooperHewitt-Semibold.otf");
}

@font-face {
  font-family: "Source Sans Pro Light";
  src:url("../fonts/SourceSansPro-Light.ttf");
}

@font-face {
  font-family: "Source Sans Pro Semibold";
  src:url("../fonts/SourceSansPro-SemiBold.ttf");
}

@font-face {
  font-family: "Source Sans Pro Bold";
  src:url("../fonts/SourceSansPro-Bold.ttf");
}

$font--cooper--book: 'CooperHewittBook', sans-serif;
$font--cooper--bold: 'CooperHewittBold', sans-serif;
$font--cooper--light: 'CooperHewittLight', sans-serif;
$font--cooper--semibold: 'CooperHewittSemibold', sans-serif;
$font--sans: 'Source Sans Pro Light', sans-serif;
$font--sans-semibold: 'Source Sans Pro Semibold', sans-serif;
$font--sans-bold: 'Source Sans Pro Bold', sans-serif;