// Font
$text: 16px;
$h3: 20px;
$h2: 24px;
$h1: 32px;

// Margin
$margin-small: 10px;
$margin-regular: 20px;
$margin-big: 40px;

// Padding
$padding-small: 10px;
$padding-button: 16px;
$padding-regular: 20px;
$padding-big: 40px;