// Font
$font--10: 0.677vw;
$font--13: 0.885vw;
$font--14: 0.9375vw;
$font--16: 1.09375vw;
$font--20: 1.354vw;
$font--22: 1.510vw;
$font--24: 1.667vw;
$font--28: 1.927vw;
$font--32: 2.1875vw;
$font--36: 2.5vw;
$font--105: 6.8vw;
$font--118: 7vw;
$font--130: 7.5vw;
$font--144: 8vw;


// Margin
$margin-small: 10px;
$margin-regular: 20px;
$margin-big: 40px;

// Padding
$padding-small: 10px;
$padding-button: 16px;
$padding-regular: 20px;
$padding-big: 40px;

// Define the breakpoints
$breakpoint-x-small: 320px;
$breakpoint-small: 480px;
$breakpoint-medium: 769px;
$breakpoint-large: 1024px;
$breakpoint-x-large: 1224px;
$breakpoint-xx-large: 1824px;