@import "components/_colors.scss";
@import "components/_mixins.scss";
@import "components/_measures.scss";
@import "components/_fonts.scss";
@import "components/_scrollbar.scss";
@import "components/_appearance.scss";

// IMPLEMENT SASS

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: $color--palegrey;
  font-family: $font--cooper--book;
  color: $color--darkpurple;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

footer {
  display: flex;
  height: 60px;
  font-size: $font--16;
  font-family: $font--cooper--bold;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 0 70px;
  background-color: $color--white;
  justify-content: space-between;

  a {

    &:hover, &:active {
      color: $color--purplered;
    }

  }

  #footer-left {
    display: flex;
    align-items: center;

    a {

      &:not(:last-child) {
        margin-right: 45px;
      }

    }
  }

  #footer-right {
    display: flex;
    align-items: center;

    a {

      &:not(:first-child) {
        margin-left: 45px;
      }

    }

  }
}

header {
  position: fixed;
  top: 50%;
  right: 17.5pt;
  transform: translateY(-50%);
  font-size: $font--24;
  z-index: 2;

  span.active-number {
    position: fixed;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(calc(-50% - 15px));
    -ms-transform: translateY(calc(-50% - 15px));
    transform: translateY(calc(-50% - 15px));
    text-align: right;
    width: 150px;
    height: 150px;
    font-size: 6.25vw;
    color: rgba(16, 16, 28, 0.45);
    font-family: $font--cooper--bold;
  }

  nav {
    display: flex;
    flex-direction: column;
    counter-reset: headernav;
    font-family: $font--cooper--book;

    a {
      color: rgba($color--white, 0);
      text-align: right;
      padding-right: 2em;
      line-height: 29.7pt;
      position: relative;
      @include transition(0.2s);
      counter-increment: headernav;

      &:not(:last-child) {
        margin-bottom: 42px;
      }

      &:before {
        @include pseudo;
        content: "0" counter(headernav) "";
        right: 0;
        top: -1px;
        @include rotate(90deg);
        line-height: 29.7pt;
        color: $color--white;
      }

      &:hover {
        color: rgba($color--white, 1);
      }
    }

    .active {
      color: $color--purplered;
      font-family: $font--cooper--bold;

      &:before {
        color: $color--purplered;
      }

      &:after {
        @include pseudo;
        width: 3pt;
        height: calc(100% - 2pt);
        right: calc(1em + 1pt);
        top: 0;
        background-color: $color--purplered;
      }

      &:hover {
        color: $color--purplered;
      }

    }

  }
}

a {
  text-decoration: none;
  color: $color--darkpurple;
}

main {
  counter-reset: section;

  section.container {
    counter-increment: section;

    .active-number:before {
      @include pseudo;
      right: -10px;
      content: "0" counter(headernavfixed);
    }
  }

}

.container {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: 60px auto;
  grid-column-gap: 10pt;
  height: calc(100vh - 60px);
  background-color: $color--palegrey;
  position: relative;

  .content-image {
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 15;
    grid-row-start: 2;
  }

  .content-rightblock {
    width: 100%;
    grid-column-start: 16;
    grid-column-end: 23;
    grid-row-start: 2;
    margin-top: 15%;
    display: flex;
    flex-direction: column;

    .page-number {
      color: $color--purplered;
      font-size: $font--36;
      font-family: $font--cooper--bold;
      position: relative;
      height: 1.5em;
    }

    h2 {
      font-size: $font--144;
      font-family: $font--cooper--bold;
      margin-bottom: 5%;
    }

    a {
      font-size: $font--32;
      margin-bottom: 5%;
    }

    p {
      font-family: $font--sans;
      font-weight: lighter;
      font-size: $font--22;
      line-height: 32pt;
      margin-bottom: 10%;
    }

    #contact-intro {
      margin-bottom: 3%;
      font-weight: bold;
    }

    #tm-logo {
      width: 110px;
    }

    #email {
      font-size: $font--22;
      margin-bottom: 50px;
    }

    #partner{
      margin-bottom: 20px;
    }

    .label {
      color: $color--purplered;
      font-family: $font--cooper--bold;
      text-transform: uppercase;
    }
  }
}

.bold {
  font-weight: bold;
}

#home {
  background-color: $color--darkpurple;
}

#team {
  .content-image {
    background-image: url("https://media.giphy.com/media/X2FDYSjwvJyWA/giphy.gif");
    @include bg-cover-center;
  }
}

#cases {
  .content-image {
    background-image: url("https://media.giphy.com/media/9xghLCFnacsIWCasU7/giphy.gif");
    @include bg-cover-center;
  }
}

#contact {
  margin-bottom: 60px;
  .content-image {
    background-image: url("https://media.giphy.com/media/pSpmpxFxFwDpC/giphy.gif");
    @include bg-cover-center;
  }
}

.big-grid {
	grid-template-columns: repeat(24, 1fr);
	grid-template-rows: 60px 1fr 100px calc(50% - 100px) 1fr;
	grid-column-gap: 10pt;
	height: calc(100vh - 60px);
	
	.content-image {
		@include bg-cover-center;
	}
	
	.overlay {
		position: relative;
		grid-row-start: 2;
    grid-row-end: 6;
		grid-column-start: 1;
    grid-column-end: 11;
		&:before {
			@include pseudo;
			width: 100%;
			height: 100%;
		}
	}
	
	.pop-up-image {
		grid-row-start: 3;
    grid-row-end: 5;
		grid-column-start: 8;
    grid-column-end: 16;
		z-index: 2;
	}
	
	.previous-page {
		grid-row-start: 2;
    grid-row-end: 3;
		grid-column-start: 12;
    grid-column-end: 16;
		@include center-flex(vertical);
		
		a {
			
		}
	}
		
	h1 {
		grid-row-start: 3;
		grid-row-end: 4;
		grid-column-start: 12;
		grid-column-end: 21;
		z-index: 3;
		font-size: $font--83;
		font-family: $font--cooper--bold;
		/*padding-top: 22px;*/
	}
	
	.content-rightblock {
		grid-row-start: 4;
		grid-row-end: 5;
		grid-column-start: 17;
		grid-column-end: 23;
		overflow-y: auto;
		
		font-size: $font--22;
		font-family: $font--sans;
		font-weight: 300;
		line-height: $font--32;
	}
	
}

#wat {

  .content-image {
    background-image: url("https://media.giphy.com/media/12UlfHpF05ielO/giphy.gif");
  }
	
	.overlay {
		&:before {
			background-color: rgba($color--purplered, 0.9);
		}
	}
		
}

// END IMPLEMENTING SASS

@import "components/_selection.scss";